@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .clip-path-wing-left {
    clip-path: polygon(0% 0%, 100% 30%, 100% 70%, 0% 100%, 20% 50%);
  }
  .clip-path-wing-right {
    clip-path: polygon(100% 0%, 0% 30%, 0% 70%, 100% 100%, 80% 50%);
  }
}
